.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.general_container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
}

.table_container {
  width: 100%;
  height: 70vh;
}
