.root {
  width: "100%";
}
.container {
  height: 50vh;
}

.message_container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  flex: "1 1 100%";
  display: flex;
  justify-content: flex-start;
}

.title_dark_background_color {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.title_ligth_background_color {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: flex-start;
}
